<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Styles/css")
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/Scripts")
</body>
</html>
